My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -368,
        16
      ],
      "id": "6223ef0e-5d27-43a6-bb89-f88acbe47e5f",
      "name": "Telegram Trigger",
      "webhookId": "29fa995e-e1c2-4ea4-a92a-c6ea8c556e29",
      "credentials": {
        "telegramApi": {
          "id": "3nLiKko3FdFOvfzf",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $node[\"Telegram Trigger\"].json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        272,
        -288
      ],
      "id": "dcb8090d-0401-43f5-bd62-0b775b5d7443",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "=openai/gpt-4.1-mini",
        "options": {
          "maxTokens": 8258
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        144,
        -64
      ],
      "id": "b321dfa7-d99e-4109-97eb-57483962371f",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "mCNZFMmZkqalaKj3",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        -64
      ],
      "id": "ddec4e9f-6474-4c14-82a2-0c2b68a6af72",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        400,
        -64
      ],
      "id": "da23a91f-3d69-4940-9841-5a209838f791",
      "name": "Send a message in Gmail",
      "webhookId": "bd7e4b46-8c9f-4d61-ae6e-99c5746edcb6",
      "credentials": {
        "gmailOAuth2": {
          "id": "CCVpz5pn46nVZWbt",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $('If').item.json.message.message_id }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        528,
        -64
      ],
      "id": "5cb72ad8-a456-4a6c-afe5-0d3d09126ad5",
      "name": "Get a message in Gmail",
      "webhookId": "c082d4ec-18d7-46de-a2ca-93839e28f8f6",
      "credentials": {
        "gmailOAuth2": {
          "id": "CCVpz5pn46nVZWbt",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3cbdb038-f3b4-4963-9570-2dc95a2ed908",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "email",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "da028542-af81-4e0f-a366-6cdd684e13c2",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "gmail",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "bbcd3e9a-1546-4475-a62b-95c42038df0e",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "mail",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -144,
        16
      ],
      "id": "94fac8a0-e048-40cb-9871-2bb41f45f6e5",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        272,
        224
      ],
      "id": "cfa4020f-22ef-4c99-be56-bb419e02ffa6",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 8000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        80,
        448
      ],
      "id": "7f4baca2-e806-426c-88be-43782bdbdb49",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "mCNZFMmZkqalaKj3",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        208,
        448
      ],
      "id": "eb41a543-5030-4998-b11c-fcd4cb945673",
      "name": "Simple Memory1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        800,
        16
      ],
      "id": "81cd1e86-df50-452e-a94c-61d114fe8ac4",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e5637853-db64-417c-84d5-065eaddd71e9",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1024,
        16
      ],
      "id": "df47e4de-5f6e-43c3-93d7-4e1288d39f25",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        -80
      ],
      "id": "f2b1d5bf-facd-4346-8c7c-ac9fc4dfb818",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "00b7db8b-2822-4308-9290-837272fc2f26",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1248,
        112
      ],
      "id": "763b67f6-ec77-40cb-ac4e-8fcea91b0b1a",
      "name": "Filter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1472,
        16
      ],
      "id": "02d8e4d5-0af3-445c-9100-abfa720739de",
      "name": "Merge1"
    },
    {
      "parameters": {
        "chatId": "={{ $(\"Telegram Trigger\").first().json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "reply_to_message_id": "={{ $('Telegram Trigger').item.json.message.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1696,
        16
      ],
      "id": "10e38a0e-4dfc-4c7b-b902-94596f2e8431",
      "name": "Send a text message",
      "webhookId": "4aafb548-83e2-451c-9f38-a18819c104af",
      "credentials": {
        "telegramApi": {
          "id": "3nLiKko3FdFOvfzf",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.message.text.split('\\n')[0].replace('add name column', '').trim() }}",
        "returnAll": "",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        336,
        512
      ],
      "id": "7c825331-8f0a-4488-855b-d10b7a637f90",
      "name": "Search files and folders in Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pGEenaVJ1W7ChsIr",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "sheetsUi": {
          "sheetValues": [
            {
              "title": "Sheet 1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        432,
        432
      ],
      "id": "3a8315c2-4b17-477d-a184-a13f9454d25e",
      "name": "Create spreadsheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JDLMIpJTcI0GBGYt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create spreadsheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0fd79394-1c45-465f-9ac8-6fa6add74333",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "030c58113a5fc14a1bc38c56808e8a89a840afbcf1c43118496aea48b809be28"
  },
  "id": "FudID4D41UwpUjcF",
  "tags": []
}